.Feed {
  .BirthdayContainer,
  .PagesContainer,
  .FeedsContainer {
    font-size: 0.85em;
    padding: 4px;
  }

  .BirthdayContainer {
    img {
      height: 1.2em;
      margin-right: 5px;
    }
    a {
      text-decoration: none;
      color: #006;
      font-weight: 700;
    }
  }

  .PagesContainer {
    h4 {
      font-size: 1em;
      font-weight: 600;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 5px 0 0 0;
        list-style: none;
        display: flex;
        margin-bottom: 5px;
        border-top: 1px solid rgba(#ccc, 0.5);
        &:first-child {
          border-top: 0;
          padding-top: 0;
        }
        img {
          cursor: pointer;
          width: 4em;
          height: 4em;
          margin-right: 5px;
          border-radius: 8px;
          object-fit: cover;
        }
        .PageMeta {
          a {
            display: block;
            text-decoration: none;
            color: #888;
            font-size: 0.83em;
            img {
              width: 1em;
              height: 1em;
            }
            strong {
              color: #333;
              font-size: 1.12em;
              font-weight: 900;
            }
          }
        }
      }
    }
  }

  .FeedsContainer {
    h4 {
      font-size: 1.1em;
      font-weight: 600;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 5px 0 0 0;
        list-style: none;
        .card-body {
          padding: 5px;
          a {
            color: inherit;
            font-weight: 600;
            text-decoration: none;
          }
          p {
            font-size: 0.92em;
            abbr {
              // font-size: 0.85em;
              text-decoration: none;
              padding-left: 2px;
            }
          }
        }
      }
    }
  }
}
