.Loading-container {
  // border: 1px solid red;
  height: 100vh;
  background-color: rgba(7, 7, 7, 0.829);
  h1 {
    margin-top: -10px;
    padding-top: 50px;
    text-align: center;
    color: #fff;
  }
}
